/* Estilos para el navbar */

.navbar {
    background-color: #1a1a1a;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 90px;
}

.navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #b400ba;
    text-decoration: none;
}
